.add-new-section {
  display: flex;
  justify-content: space-around;
}

#add-new-button a {
  width: 80%;
  height: 20%;
  margin-top: 2%;
  background: rgb(49 49 141);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 1%;
  font-size: large;
  font-weight: bold;
}
