.side_bar {
  width: 19%;

  /* background-color: rgb(153, 51, 68); */

  /* position: absolute; */
}

.side_bar ul {
  list-style-type: none;
}

.side_bar ul li img {
  width: 30%;
  margin: 3%;
}

.side_bar ul a img {
  width: 30px;
  margin: 2%;
}

.side_bar ul li {
  font-size: 150%;
  padding: 8%;
}

.side_bar ul li:hover {
  background-color: #d8ebfa;
}

.welcome {
  padding-left: 5%;
  float: right;
  background: url(/images/b8.jpg) no-repeat  center;
}

.side_bar ul li a {
  text-decoration: none;
  color: black;
}

.side_bar ul li a:hover {
  text-decoration: none;
  color: #0a76d8;
}

.doctor_first_section {
  display: flex;
}

.topTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  width: 100%;
}

.topTitle div {
  font-size: 25px;
}

.dashbourd {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.statusUpcomingEvent {
  /* background-color: aqua; */
  margin-left: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.par1 {
  width: 55%;

  /* text-align: center; */
  margin: 3%;
  font-size: larger;
}

td,
th td {
  padding: 0 80px 80px 80px;
}

.loginbtn {
  background-color: #d8ebfa;
  margin: 5%;
  width: 200px;
  height: 40px;
  border-radius: 10%;
}

.btn {
  margin: 5%;
  width: 50%;
  height: 40px;
  background-color: #0a76d8;
  border-radius: 10%;
}

.btn:hover {
  background-color: rgb(63, 119, 223);
}

.loginbtn:hover {
  background-color: #0a76d8;
}

.todaysDate {
  width: 20%;
  font-size: xx-small;
}

.todaysDate img {
  width: 10%;
}
