.side_bar {
  width: 20%;

  /* background-color: rgb(153, 51, 68); */

  /* position: absolute;///////////// */
}

.side_bar ul {
  list-style-type: none;
}

.sidbarUserImg {
  width: 30%;
  margin: 3%;
}

/* .side_bar ul a img {
  width: 30px;
  margin: 2%;
} */

.side_bar ul li {
  font-size: 150%;
  padding: 8%;
}

.side_bar ul li:hover {
  background-color: #d8ebfa;
}

.welcome {
  padding-left: 5%;
  background: url(/images/b8.jpg) no-repeat  center;
}

.statusDash a {
  padding: 0 10% 1% 0;
  text-decoration: none;
  font-size: large;
  color: black;
}

.side_bar ul li a {
  text-decoration: none;
  color: black;
}

.side_bar ul li a:hover {
  text-decoration: none;
  color: #0a76d8;
}

.doctor_first_section {
  display: flex;
}

.backImg {
  display: inline-flex;
  border: none;
  height: 30px;
  font-size: large;
}

.dashbourd {
  display: block;
  margin-left: 2%;
}

.statusDash {
  float: left;
  margin: 3% 3%;
  padding: 3%;
  width: 50%;
}

.statusDash div {
  margin: 3%;
  width: 130%;
}

.upcoming_events {
  margin: 0 0;
  width: 50%;
}

.statusimg {
  width: 10%;
  padding: 0;
  margin: 0;
}

.statusUpcomingEvent {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.par1 {
  width: 55%;

  /* text-align: center; */
  margin: 3%;
  font-weight: 500;
  font-size: larger;
}

.loginbtn {
  background-color: #d8ebfa;
  margin: 5%;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.btn {
  text-decoration: none;
  padding: 1%;
  margin: 2%;
  font-size: x-large;
  color: white;
  width: 50%;
  height: 25px;
  background-color: #006dd3;
  border-radius: 10px;
}

.btn:hover {
  background-color: #2689e6ec;
}

.loginbtn:hover,
.backImg:hover {
  background-color: #0a76d8;
}

.imgtod {
  width: 20px;
}

.status table td {
  border: 2px;
  background-color: rgb(132, 100, 34);
}

.showSesions {
  align-self: center;
  margin: 30%;
  background-color: #d8ebfa;
  color: #0a76d8;
  width: 50%;
  border-radius: 10px;
  height: 35px;
  font-size: large;
}

.filterbtn {
  background-color: #d8ebfa;
  width: 20%;
  margin: 0 2% 0 2%;
  text-align: center;
  font-size: large;
  height: 40px;
  border-radius: 10px;
}

.showSesions:hover,
.filterbtn:hover {
  background-color: #0a76d8;
  color: white;
}

#myApointment {
  display: flex;
}

.inputDate {
  display: flex;
  height: 10%;
}

.inputDate label {
  width: 30%;
  margin-left: 20%;
  font-size: x-large;
}

.inputDate select {
  width: 20%;
  height: 50%;
  font-size: large;
}

.inputDate input {
  width: 60%;
  padding: 1% 5% 1% 5%;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  height: 20px;
}

.filteimg {
  width: 10%;
}

.head {
  width: 100%;
}

.setindbtncontener {
  margin: 3% 2%;
}

.setingbtn {
  background-color: white;
  color: #0a78df;
  margin: 1%;
  border-radius: 5px;
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.setingbtn:hover {
  background-color: #f1f1f1;
}

.setingdelet {
  color: red;
}

.setingsmalfont {
  font-size: 15px;
  color: black;
}

.searPationtbtn {
  margin: 1% 2%;
  width: 10%;
  height: 30px;
  background-color: #2790f2;
}

.searPationtbtn:hover {
  background-color: #0a76d8;
}

.searinputPationt {
  width: 70%;
  margin: 0 1%;
  text-align: center;
  font-size: large;
  height: 30px;
}

.btnsearchDivePation {
  display: flex;
  margin: 2% 1%;
}

.topTitle {
  display: flex;
  justify-content: space-between;
}

.set {
  font-size: x-large;
}

.setindbtncontener img {
  width: 30px;
  margin-right: 2%;
}

/* /////for popup */
.accountSetting,
.viewdetail,
.confiDelet {
  width: 50%;
  font-size: x-large;

  /* margin: 25%;
  padding: 5%; */
  top: -1000px;
  position: absolute;
}

.inpSetAcount {
  font-size: large;
  margin: 2%;
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.btnSetAcount,
.btnDletAcount {
  width: 20%;
  height: 30px;
  font-size: large;
  background-color: #5aa6ee;
  border-radius: 5px;
}

.btnSetAcount:hover,
.btnDletAcount:hover {
  background-color: #2790f2;
}

.viewdetail .inpSetAcount {
  border: none;
}

/* //////////////////////////////////// haberger */

/* @media screen and (min-width: 350px) {

  .side_bar{
    display: none;
  }
  .doctor_first_section,#myApointment{
    display: block;
  } */
