.back {
  background-image: url('image/login.jpg');
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
}

.wrapper {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 8px;
  height: 45%;
  animation: transitionIn-Y-over 0.5s;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub-text {
  font-size: 15px;
  color: rgb(138, 138, 138);
}

.form-label {
  color: rgb(44, 44, 44);
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.hover-link1 {
  font-weight: bold;
}

.hover-link1:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.login-btn {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
