body {
  font-family: 'Arial', sans-serif;
  background-image: url('./image/signup.avif');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.back {
  background-color: rgba(255, 255, 255, 0.9);
  background-color: transparent;

  /* Semi-transparent background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.input-text {
  margin-bottom: 15px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-label {
  font-weight: bold;
}

.remeber_forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.login-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.forgot-password-link {
  color: #2074e1;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link a {
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.sub-class a {
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: auto;
}
