.back {
  background-image: url('./image/signup.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  /* margin-top: 5%; */
  flex-direction: column;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin-top: 10%; */

  /* Center content horizontally */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  /* margin-right: 10px; */

  /* Add margin between elements */
}

button:hover {
  background-color: #0056b3;
}

form {
  width: 100%;

  /* Ensure form takes full width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.sub-text2 {
  font-size: 20px;
  font-weight: 700;
  color: #007bff;
  text-align: left;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #0b0b0b;
  width: 100%;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.button-group {
  width: 50%;
  display: inline-block;
  justify-content: space-between;

  /* margin-top: 20px; */

  /* margin-bottom: 10%; */
}

.login-btn {
  padding: 10px 20px;
}

.button-group input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.hover-link1 {
  color: #007bff;
  text-decoration: none;
}

.hover-link1:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
}