.back {
  background-image: url('/loginpage/image/register.jpg');
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.sub-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;

}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
=======
  color: #0b0b0b;
}

.input-text {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;

}

.button-group {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-primary-soft {
  background-color: #f8f9fa;
  color: black;
  border: 1px solid #ced4da;
}

.hover-link1 {
  color: #007bff;
  text-decoration: none;
}

.hover-link1:hover {
  text-decoration: underline;
}


.error-message {
  color: red;
  margin-top: 10px;
}

