
body {
  background-color: rgb(99, 169, 216);
}

.navigator ul {
  display: flex;
  justify-content: space-between;
}

.navigator ul li {
  list-style-type: none;
}

.navigator ul li a {
  text-decoration: none;
  font-size: x-large;
}

.input {
  display: block;
  width: 60%;
  margin: 5%;
  height: 5vh;
  border-radius: 5%;
}

.login {
  background-color: rgb(40, 72, 75);
  width: 50%;
  margin: 10% 15%;
  border-radius: 5%;
}

.loginTitle {
  display: block;
  background-color: rgb(219, 180, 108);
  font-weight: 400;
  font-size: x-large;
  text-align: center;
}

.Title {
  margin: 20%;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(166, 136, 196);
}

.btn {
  height: 5vh;
  margin: 8% 3%;
  width: 15%;
  border-radius: 5%;
  background-color: rgb(196, 101, 24);
}
