.patient {
  display: flex;
}

.left_side {
  background-color: white;
  width: auto;
  height: 100%;
  display: inline-block;
  border-right: 1px solid black;
}

.user {
  display: flex;
  margin-left: 20px;
}

.user img {
  width: 100px;
  height: 90px;
  border-radius: 50%;
}

.btn1 {
  background-color: blue;
  width: 100px;
  height: 30px;
  color: wheat;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}

.btn1:hover {
  background-color: rgb(20, 20, 108);
}

.user_text {
  margin-left: 10px;
}

.p1 {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: bold;
}

.p2 {
  margin-top: 0;
}

.list_home {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
}

.unorder {
  display: flex;
  flex-direction: column;
}

.list_home li {
  list-style-type: none;
}

.list {
  display: inline-block;
  margin-bottom: 30px;
}

.list1 {
  display: inline-block;
  margin-bottom: 30px;
}

.unorder a {
  text-decoration: none;
  color: rgb(60, 60, 55);
}

image {
  width: 30px;
}

.center_home {
  margin-left: 20px;
}

.home_text {
  margin-left: 20px;
}

.patient_text {
  padding-left: 30px;
  background-color: hsla(160, 43%, 63%, 0.827);
  border-radius: 10px;
  background-image: url("pic/b3.jpg");
}

.input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border-color: rgb(85, 85, 212);
}

.btn {
  background-color: blue;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(20, 20, 108);
}

.Status-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: 1fr 1fr; /* Two equal-height rows */
  grid-template-areas:
    "one two"
    "three four";
}

.stat1 {
  grid-area: one;
}

.stat2 {
  grid-area: two;
}

.stat3 {
  grid-area: three;
}

.stat4 {
  grid-area: four;
}

.stat {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid rgb(69, 59, 59);
  background-color: white;
}

.Status-inline-maker {
  display: inline-block;
}

.Home_last {
  display: flex;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.table tr {
  background-color: rgb(197, 197, 197);
}
