.side_bar {
  width: 21%;
  margin: 2% 2% 0 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.side_bar ul {
  list-style-type: none;
}

.sidbarUserImg {
  width: 30%;
  margin: 3%;
}

.side_bar ul li {
  font-size: large;
  padding: 8% 1% 3% 1%;
}

.side_bar ul li:hover {
  background-color: #d8ebfa;
}

.welcome {
  padding-left: 3%;
  background: url(../images/img/b8.jpg) no-repeat center;
}

th,
td {
  padding: 10px;
  font-size: large;
}

.statusDash a {
  padding: 0 10% 1% 0;
  text-decoration: none;
  font-size: large;
  color: black;
}

.side_bar ul li a {
  text-decoration: none;
  color: #192836;
  font-size: larger;
}

.side_bar ul li a:hover {
  text-decoration: none;
  font-size: x-large;
  color: #0a76d8;
}

.doctor_first_section {
  display: flex;
}

.backImg {
  display: inline-flex;
  border: none;
  height: 30px;
  font-size: large;
}

.dashbourd {
  margin-top: 0;
  display: block;
}

.statusDash {
  margin: 0.5% 1% 0 0;
  width: 50%;
  height: 100%;
}

.statusDash table tr td {
  padding: 30px;
  font-size: large;
  width: 20%;
  height: 25%;
}

.upcoming_events {
  margin: 0 0;
  width: 50%;
}

.statusimg {
  width: 20%;
  padding: 0;
  margin: 0;
}

.statusUpcomingEvent {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.par1 {
  text-align: center;
  margin: 3%;
  font-weight: 500;
}

.loginbtn {
  background-color: #d8ebfa;
  margin: 5%;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.btn {
  padding: 3px;
  border: 20px;
  font-size: large;
  color: white;
  width: 30%;
  height: 30px;
  background-color: #006dd3;
  border-radius: 5px;
}

.btn:hover {
  background-color: #2689e6ec;
}

.tablebtn {
  background-color: #d8ebfa;
  border-radius: 10px;
  color: black;
  font-size: large;
  border: 0.3px;
}

.loginbtn:hover,
.backImg:hover,
.tablebtn:hover {
  background-color: #0a76d8;
}

.imgtod {
  width: 20px;
}

.showSesions {
  align-self: center;
  margin: 30%;
  background-color: #d8ebfa;
  color: #0a76d8;
  width: 50%;
  border-radius: 10px;
  height: 35px;
  font-size: large;
}

.filterbtn {
  background-color: #d8ebfa;
  width: 20%;
  margin: 0 2% 0 2%;
  text-align: center;
  font-size: large;
  height: 40px;
  border-radius: 10px;
}

.showSesions:hover,
.filterbtn:hover {
  background-color: #0a76d8;
  color: white;
}

#myApointment {
  display: flex;
  width: 100%;
}

.inputDate {
  display: flex;
  width: 100%;
  margin: 3%;
  height: 10%;
  border: 1px solid;
}

.onMyPationtImputHead {
  display: block;
  width: 100%;
  height: auto;
}

.inputDate label {
  width: 30%;
  margin: 1% 1% 1% 10%;
  font-size: large;
}

.inputDate select {
  width: 25%;
  height: 30px;
  font-size: large;
}

.inputDate input {
  width: 60%;
  padding: 1% 5% 1% 5%;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  height: 20px;
}

.filteimg {
  width: 10%;
}

.head {
  width: 100%;
}

.setindbtncontener {
  margin: 0 0 2% 0.5%;
}

.setting {
  margin-top: 70px;
  margin-left: 50px;
  width: 100%;
}

.setingbtn {
  background-color: white;
  margin: 0.5%;
  border-radius: 10px;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: medium;
}

.setingbtn:hover {
  background-color: #f1f1f1;
  color: #0a78df;
  font-size: large;
}

.setingdelet {
  color: red;
}

.setingsmalfont {
  font-size: 10px;
  color: black;
}

.searPationtbtn {
  margin: 1% 1%;
  height: 30px;
  background-color: #2790f2;
}

.searPationtbtn:hover {
  background-color: #0a76d8;
}

.searinputPationt {
  width: 70%;
  margin: 0 1%;
  text-align: center;
  font-size: large;
  height: 30px;
}

.btnsearchDivePation {
  display: flex;
  width: 100%;
}

.block {
  width: 100%;
}

.topTitle {
  display: flex;
  justify-content: space-between;
}

.set {
  font-size: large;
}

.setindbtncontener img {
  width: 30px;
  margin-right: 2%;
}

.inpSetAcount {
  font-size: large;
  margin: 1%;
  height: 30px;
  width: 50%;
  border-radius: 5px;
}

.btnSetAcount,
.btnDletAcount,
.previos,
.next {
  width: 20%;
  height: 30px;
  font-size: large;
  background-color: #5aa6ee;
  border-radius: 5px;
}

.previos:hover,
.next:hover,
.btnSetAcount:hover,
.btnDletAcount:hover {
  background-color: #2790f2;
}

.viewdetail .inpSetAcount {
  border: none;
}

.buton {
  width: 5px;
  margin-left: 98%;
  margin-top: 0.5%;
  color: black;
  font-weight: 900;
  font-size: 60px;
  cursor: pointer;
}

.buton:hover {
  color: #0c55f3;
}

.Appointments,
.table,
.apointTable,
.inputDate {
  display: block;
  width: 100%;
  flex-wrap: nowrap;
}

.viewPationtPage {
  background-color: rgb(18, 194, 238);
  padding-top: 2%;
  width: 60%;
  top: 20%;
  left: 30%;
  opacity: 1;
  transition:
    top 200ms ease-in-out 20ms,
    opacity 20ms ease-in-out 10ms,
    transform 220ms ease-in-out 10ms;
  box-shadow: 10px 10px 10px 300px white;
}

.butonPa {
  margin: 5%;
  width: 5px;
  margin-left: 98%;
  margin-top: 0.5%;
  color: black;
  font-weight: 900;
  font-size: 60px;
  cursor: pointer;
}

.butonPa:hover {
  color: #0c55f3;
}

.tdforflex {
  display: flex;
}

.deletebutton,
.viewbutton {
  border-radius: 5px;
  height: auto;
  padding: 1px;
  margin-left: 1%;
  background-color: #71ade6;
}

.viewbutton:hover,
.deletebutton:hover {
  background-color: #1e87e9;
}

.formeditdoc {
  margin: 5% 15%;
  align-items: center;
}

.delDoc,
.cancelApoin,
.viewSessionDoc,
.cancelSessionDoc,
.Editdoc,
.viewDocdetail,
.viewPationtPage {
  align-items: center;
  border: 1px solid;
  background-color: wheat;
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.cancelApoin input,
.cancelApoin label,
.viewPationtPage input,
.viewPationtPage label,
.delDoc input,
.delDoc label,
.Editdoc input,
.Editdoc label,
.Editdoc select,
.viewDocdetail input,
.viewDocdetail label,
.cancelSessionDoc input,
.cancelSessionDoc label,
.viewSessionDoc input,
.viewSessionDoc label {
  font-size: larger;
  margin: 1%;
  width: 100%;
  height: 30px;
}
